/*
*登录页面的页面布局样式
*/

/*部分初始化页面布局*/
body {
    margin: 0;
    padding: 0;
}

ul,li,p{ padding:0; margin:0;list-style:none} 

/*设置网页标签样式*/
body {
    width: 80%;
    margin: 0 auto;
    /*text-align: center;*/
    background-color: #f1f1f1;
}

p {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

/*设置第一个分区（logo分区）的样式*/
#logo {
    width: 300px;
    margin: 0 auto 40px;
}

#logo p {
    text-align: center;
}

#logo img {
    margin-bottom: 10px;
}

/*设置第二个分区（填写用户名和密码区）的样式*/
#sign_in,#sign_up {
    width: 300px;
    height: 300px;
    margin: 0 auto 30px;
    border: 1px solid #d8dee2;
    border-radius: 9px;
    background-color: #fff;
}

#container {
    margin: 50px 30px;
}

#container label {
    font-weight: bold;
}

#container a {
    position: relative;
    left: 90px;
}

#username,#password {
    width: 200px;
    margin: 5px 0px 15px 0px;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    padding: 6px 8px;
    display: block;
}

#username:focus,#password:focus {
    background-color: yellow;
}

#submit {
    width: 220px;
    margin: 5px 0px 15px 0px;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    padding: 6px 8px;
    display: block;
    background-color: green;
}

/*设置第三个分区（注册分区）的样式*/
#register,#login {
    width: 300px;
    margin: 0 auto 40px;
}

#register p {
    display: inline-block;
    margin-left: 60px;
}

#login p {
    display: inline-block;
    margin-left: 80px;
}

/*设置第四个分区（底部分区）的样式*/
#others {
    width: 300px;
    margin: 0 auto 40px;
}

#others a {
    display: inline-block;
    margin-right: 20px;
    color: gray;
}

#others :first-child {
    margin-left: 40px;
}